@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255%;
    --foreground: 31 25 49%;

    --card: 255 255 255%;
    --card-foreground: 31 25 49%;

    --popover: 255 255 255%;
    --popover-foreground: 31 25 49%;

    --primary: 255 71% 61%;
    --primary-foreground: 255 255 255%;

    --secondary: 255 66% 87%;
    --secondary-foreground: 31 25 49%;

    --muted: 255 66% 95%;
    --muted-foreground: 255 10% 65%;

    --accent: 255 66% 87%;
    --accent-foreground: 31 25 49%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 255 66% 87%;
    --input: 255 66% 87%;
    --ring: 255 71% 61%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 31 25 49%;
    --foreground: 255 255 255%;

    --card: 250 32% 15%;
    --card-foreground: 255 255 255%;

    --popover: 250 32% 15%;
    --popover-foreground: 255 255 255%;

    --primary: 255 71% 61%;
    --primary-foreground: 255 255 255%;

    --secondary: 250 32% 25%;
    --secondary-foreground: 255 255 255%;

    --muted: 250 32% 25%;
    --muted-foreground: 255 40% 75%;

    --accent: 250 32% 25%;
    --accent-foreground: 255 255 255%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 250 32% 25%;
    --input: 250 32% 25%;
    --ring: 255 71% 61%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
